* {
  font-family: 'Roboto', sans-serif;
}
.AppLogin {
  display: grid;
  place-items: center;

  width: 100vw;
  height: 100vh;

  box-sizing: border-box;

  font-family: 'Playfair Display', serif;

  background: rgb(241,243,222);
  background: linear-gradient(180deg, rgba(241,243,222,1) 0%, rgba(235,143,143,1) 100%);
}

.searchWrapper {
  display:flex;
  width: 40%;
}

.searchIcon {
  padding-left: 10px;
  position: absolute;
  width: 25px;
  display: inline-block;
  top: 25px;
  fill: #aeaeae;
}

.searchForm {
  background-color: #eaeaea;
  border: 0;
  border-radius: 10px;
  width: 100%;
  color: #aeaeae;
  text-align: center;
}

input[type="submit"] {
  border: 0px
}

.App {
  display: flex;

  flex-direction: column;

  align-items: center;

  width: 100vw;
  height: 100vh;

  font-family: 'Playfair Display', serif;
}

.recomenTitle {
  margin: 0px;
}

.recomenTitle H2 {
  margin: 0px 10px;
}

.loginForm {
  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;

  height: 20rem;
  width: 30rem;

  box-shadow: 0px 0px 34px 7px rgba(0,0,0,0.5);

  background: white;

  border-radius: 20px;

  color: rgba(235,143,143,1);

  animation: appear 1s ease;
  animation-iteration-count: 1;
}

.loginInput {
  font-size: 1rem;

  padding-left: 0.5rem;
  border-radius: 1rem;

  width: 40%;
  height: 10%;

  font-family: 'Playfair Display', serif;

  border: 2px solid rgba(235,143,143,1);

  margin: .5rem;
}

.loginInput::placeholder {
  color: rgba(235,143,143,1);
}

.loginInput:focus {
  font-size: 1rem;

  border-radius: 1rem;

  border: 0;

  width: 40%;
  height: 10%;

  font-family: 'Playfair Display', serif;
  animation: background 0.25s linear;
  animation-iteration-count: 1;

  color: white;

  outline: none;
  border: 2px solid rgba(235,143,143,1);

  background: rgba(235,143,143,1)
}

@keyframes background {
  0% { background: white; }
  100% { background: rgba(235,143,143,1)}
}

@keyframes appear {
  0% {position: absolute;
    bottom: 0px;
    left: 37.5%;
    opacity: .1;
  }
  60% {
    position: absolute;
    bottom: 50%;
    left: 37.5%;
    opacity: .5;
  }
  100% {
    position: absolute;
    opacity: 1;
    bottom: 33.3%;
    left: 37.5%;
  }
}

.loginSubmitButton {
  width: 25%;
  height: 10%;

  border-radius: .75rem;

  border: 0;

  background-color: #f1f3de;

  font-family: 'Playfair Display', serif;

  outline: none;

  cursor: pointer;

  color: rgba(235,143,143,1);
}

.loginSubmitButton:hover {
  animation: background 0.25s linear;
  animation-iteration-count: 1;

  background-color: rgba(235,143,143,1);

  color: white;
}

.loginSubmitButton:active {
  background-color: #ec0101;
}

.header {
  display: flex;

  flex-direction: row;

  justify-content: space-between;

  width: 60%;
  height: 35px;
  padding-top: 2rem;

  margin-bottom: 25px;
}

.navBar {
  display: flex;

  flex-direction: row;

  justify-content: space-between;
  height: 35px;
  width: 35%;
}

.menuNavLink {
  border-radius: 1.5rem;
  text-decoration: none;
  padding: .1rem 1.5rem .2rem 1.5rem;
  color: black;
  display: flex;
  align-items: center;
  transition: .5s;
}

.menuNavLink:hover, .menuNavLinkActive {

  background-color:rgba(144, 145, 141, 0.192);
}

.recomenTitleWrapper {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 10px 10px;
}

.recomenTitleWrapper a {
  color: #0f5699;
  text-decoration: none;
}

.userBlock {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 10px;
}


.userBlock:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.signOutButton {
  color: black;
  cursor: pointer;
  transition: .25s;
  padding: 7px 15px 0px 15px;
  text-decoration: none;
}

.signOutButton:hover {
  color: #cd0a0a;
}

.mainBody {
  display: flex;
  flex-direction: column;

  width: 60%;

  justify-items: flex-start;
}

.booksBlock {
 display: flex;
 flex-direction: column;


}

.bookRow {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
